<link href="style.css" rel="stylesheet" type="text/css">
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

</script>
<body>
<div id="content">
  <div id="wrapper">
    <div id="game">
      <h1>Highscore Ninbo</h1>

      <div id="test">
          <script>
             
socket.emit('getHighscore');
socket.on("getHighscoreReturn", function (getHighscore) {
//    for (var id in getHighscore){
//        highscore.add(getHighscore[id]);
//    }
    var highscore = getHighscore;
    console.log(highscore)
    console.log("getHighscore")
    /*var highscoreArray = highscore
    console.log(highscoreArray)
    console.log("highscoreArray")
    var topTenArray = highscoreArray.slice(0, 9);
    var indexPlayer = highscoreArray.findIndex(players[socket.id].name)
    var playerInfo = highscoreArray.find(players[socket.id].name)
    var html = makeTableHTML(topTenArray, indexPlayer, playerInfo)
    console.log(html)
    document.getElementById("test").innerHTML = html;
    */
});
              



              
function makeTableHTML(myArray, playerIndex, playerInfo) {
    var result = "<table border=1>";
    for(var i=0; i<myArray.length; i++) {
        result += "<tr>";
        result += "<td>" +i +1 +"</td>";
        for(var j=0; j<myArray[i].length; j++){
            result += "<td>"+myArray[i][j]+"</td>";
        }
        result += "</tr>";
    }
    if(!myArray.find(player)){
        result += "<tr>";
        result += "<td>" +playerIndex+"</td>";
        result += "<td>" +playerInfo[0]+"</td>";
        result += "<td>" +playerInfo[1]+"</td>";
        result += "<td>" +playerInfo[2]+"</td>";
        result += "</tr>";
    }
    result += "</table>";

    return result;
}
//   var MongoClient = require('mongodb').MongoClient;
//  var url = "mongodb://localhost:27017/";
//  MongoClient.connect(url, function(err, db) {
//      if (err) throw err;
//      var dbo = db.db("mmodb");
//      var query = { username: player.name };
//      dbo.collection("highscoretable").find(query).toArray(function(err, result) {
//        if (err) throw err;
//          db.close();
//        if(result.length){              
          </script>
      </div>
      
</div>
    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
