<link href="style.css" rel="stylesheet" type="text/css">
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

</script>
<body>
<div id="content">
  <div id="wrapper">
    <div id="game">
      <h1>Highscore Ninbo</h1>

      <div id="test">
          <script>
           var playername='<%= name %>';  
socket.emit('getHighscore');
socket.on("getHighscoreReturn", function (nameArray, highArray, winArray) {
    
    console.log(nameArray);
    //console.log(highscoreArray);
    //console.log(winscoreArray);
    var highscoreArray = nameArray
    console.log(highscoreArray)
    console.log("highscoreArray")
    var topTenNameArray = nameArray.slice(0, 9);
    var topTenHighArray = highArray.slice(0, 9);
    var topTenWinArray = winArray.slice(0, 9);
    //var playerInfo = highscoreArray.find(playername)
   // var indexPlayer = highscoreArray.findIndex(playername)
    
    var html = makeTableHTML(topTenNameArray, topTenHighArray, topTenWinArray)//, indexPlayer, playerInfo)
    console.log(html)
    document.getElementById("test").innerHTML = html;
    
});
              



              
function makeTableHTML(nameArray, highArray, winArray) { //, playerIndex, playerInfo) {
//    var result = "<table border=1>";
//    for(var i=0; i<myArray.length; i++) {
//        result += "<tr>";
//        result += "<td>" +i +"</td>";
//        for(var j=0; j<myArray[i].length; j++){
//            result += "<td>"+myArray[i][j]+"</td>";
//        }
//        result += "</tr>";
//    }
    var result = "<table border=1>";
   for(var i=0; i<nameArray.length; i++) { 
       result += "<tr>";
        result += "<td>" +i +"</td>";
       result += "<td>"+nameArray[i]+"</td>";
       result += "<td>"+highArray[i]+"</td>";
       result += "<td>"+winArray[i]+"</td>";
       result += "</tr>";
   }
//    if(!myArray.find(player)){
//        result += "<tr>";
//        result += "<td>" +playerInfo[0]+"</td>";
//        result += "<td>" +playerInfo[0]+"</td>";
//        result += "<td>" +playerInfo[1]+"</td>";
//        result += "<td>" +playerInfo[2]+"</td>";
//        result += "</tr>";
//    }
//    result += "</table>";

    return result;
}
//   var MongoClient = require('mongodb').MongoClient;
//  var url = "mongodb://localhost:27017/";
//  MongoClient.connect(url, function(err, db) {
//      if (err) throw err;
//      var dbo = db.db("mmodb");
//      var query = { username: player.name };
//      dbo.collection("highscoretable").find(query).toArray(function(err, result) {
//        if (err) throw err;
//          db.close();
//        if(result.length){              
          </script>
      </div>
      <br>
      <button id="lobbyButton" type="button" onclick="loadLobby()">Lobby</button>
</div>
    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  function loadLobby(){
    location.assign('/');
  }
</script>
