<link href="style.css" rel="stylesheet" type="text/css">
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

</script>

<body>
    <div id="content">
      <div id="wrapper">
        <div id="game">
          <h1>Highscore Ninbo</h1>
              <div id="highscore">
                <script>
                var playername='<%= name %>';

                socket.emit('getHighscore');
                socket.on("getHighscoreReturn", function (nameArray, highArray, winArray) {
                    console.log(nameArray)
                    var topTenNameArray = nameArray.slice(0, 10);
                    var topTenHighArray = highArray.slice(0, 10);
                    var topTenWinArray = winArray.slice(0, 10);
                    var indexNumber = getIndexPlayer(nameArray)
                    function getIndexPlayer(nameArray){    
                    for (i in nameArray){
                        if(nameArray[i] == playername){
                            return i
                            }
                        }
                    }
                    var html = makeTableHTML(topTenNameArray, topTenHighArray, topTenWinArray, indexNumber, nameArray, highArray, winArray)
                    document.getElementById("highscore").innerHTML = html;
                    
                });
      

                function makeTableHTML(nameArray, highArray, winArray, indexNumber, namePlayerArray, highPlayerArray, winPlayerArray ) { 
                   var  numberIndex = parseInt(indexNumber)
                   var indexPlayer = numberIndex + 1
                   var result = "<table border=1>";
                   result += "<tr><th>Rank</th><th>Username</th><th>Total Kills</th><th>Total Wins</th></tr>"
                   for(var i=0; i<nameArray.length; i++) { 
                       if( nameArray[i] == playername){
                       var index = i + 1
                       result += "<tr>";
                        result += "<td style='font-weight:bold'  >" + index +"</td>";
                       result += "<td style='font-weight:bold'  >"+nameArray[i]+"</td>";
                       result += "<td style='font-weight:bold'  >"+highArray[i]+"</td>";
                       result += "<td style='font-weight:bold'  >"+winArray[i]+"</td>";
                       result += "</tr>";
                      }else{
                        var index = i + 1
                       result += "<tr>";
                       result += "<td>" + index +"</td>";
                       result += "<td>"+nameArray[i]+"</td>";
                       result += "<td>"+highArray[i]+"</td>";
                       result += "<td>"+winArray[i]+"</td>";
                       result += "</tr>"; 
                           }
                   }
                    if(!(nameArray.includes(playername)) && namePlayerArray.includes(playername) ){
                        result += "<tr>";
                        result += "<td style='font-weight:bold'  >" + indexPlayer +"</td>";
                        result += "<td style='font-weight:bold'  >" +namePlayerArray[indexNumber]+"</td>";
                        result += "<td style='font-weight:bold'  >" +highPlayerArray[indexNumber]+"</td>";
                        result += "<td style='font-weight:bold'  >" +winPlayerArray[indexNumber]+"</td>";
                        result += "</tr>";
                    }
                    result += "</table>";

                    return result;
                }
                  function loadLobby(){
                      location.assign('/');
                    }
                </script>
                  
                </div>
            <br>
            <button id="lobbyButton" type="button" onclick="loadLobby()">Return to lobby</button>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
