<style>
#chat{
float: left;
height: 480px;
width: 260px;
}
#game{ width: 640px;
height: 480px;
float: left;
}
</style>
<div>
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="DELETE">
  <button type="submit">Log Out</button>
</form>
</div>
<div>
<div id="game">
    <head>
        <style>
          canvas {
            width: 640px;
            height: 480px;
            border: 1px solid black;
          }
        </style>
        <script src="/socket.io/socket.io.js"></script>
      </head>
      <body>
        <canvas id="canvas"></canvas>
      </body>
      <script>
      
      
      
      </script>
      <script src="../static/game.js"></script>
</div>

<div id="chat">
  
      <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        #form { background: #000; position: fixed; bottom: 126; width: 260px; }
        form input { background: #cacaca; border: 0; padding: 10px; width: 260px;}
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
      </style>
    </head>
    <body>
      <ul id="messages"></ul>
      <form action="" id="form">
        <input id="m" autocomplete="off" value=""/>
      </form>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script>
        var playername='<%= name %>';
          $(function () {
            var socket = io();
            $('form').submit(function(e){
              e.preventDefault(); // prevents page reloading
              socket.emit('chat message', '<%= name %>: '+$('#m').val());
              $('#m').val('');
              return false;
            });
            socket.on('chat message', function(msg){
              $('#messages').append($('<li>').text(msg));
            });
          });
        </script>
    </body>
  </div>
</div>