<link href="style.css" rel="stylesheet" type="text/css">
<body>
<div id="content">
  <div id="wrapper">
    <div id="stats">
      <div id="playername"><%= name %></div>
      <div id="playerclass"></div>
      <div id="health-box">
        <div id="health-bar"></div>
      </div>
      <div id="ammo">
        <div id="weapon"></div>
      </div>
      <button id="leaveButton" type="button" onclick=joinedLobby()>Leave</button>
    </div>
    <div id="game">
    <canvas id="canvas"></canvas>
    <div id="police"></div>     
  </div>
  <div id="chat">
      <ul id="messages"></ul>
      <form action="" id="form">
        <input id="m" autocomplete="off" value=""placeholder="Chat here..."/>
      </form>
    </div>
  </div>
</div>
<img id="ammobox" width="0" height="20" src="images/Ammobox.jpg"></img>
<img id="healthbox" width="0" height="20" src="images/healthbox.jpg"></img>
<img id="map1" width="0" height="20" src="images/map/image_part_001.jpg"></img>
<img id="map2" width="0" height="20" src="images/map/image_part_002.jpg"></img>
<img id="map3" width="0" height="20" src="images/map/image_part_003.jpg"></img>
<img id="map4" width="0" height="20" src="images/map/image_part_004.jpg"></img>
<img id="map5" width="0" height="20" src="images/map/image_part_005.jpg"></img>
<img id="map6" width="0" height="20" src="images/map/image_part_006.jpg"></img>
<img id="map7" width="0" height="20" src="images/map/image_part_007.jpg"></img>
<img id="map8" width="0" height="20" src="images/map/image_part_008.jpg"></img>
<img id="map9" width="0" height="20" src="images/map/image_part_009.jpg"></img>
<img id="map10" width="0" height="20" src="images/map/image_part_010.jpg"></img>
<img id="map11" width="0" height="20" src="images/map/image_part_011.jpg"></img>
<img id="map12" width="0" height="20" src="images/map/image_part_012.jpg"></img>
<img id="map13" width="0" height="20" src="images/map/image_part_013.jpg"></img>
<img id="map14" width="0" height="20" src="images/map/image_part_014.jpg"></img>
<img id="map15" width="0" height="20" src="images/map/image_part_015.jpg"></img>
<img id="map16" width="0" height="20" src="images/map/image_part_016.jpg"></img>
<img id="map17" width="0" height="20" src="images/map/image_part_017.jpg"></img>
<img id="map18" width="0" height="20" src="images/map/image_part_018.jpg"></img>
<img id="map19" width="0" height="20" src="images/map/image_part_019.jpg"></img>
<img id="map20" width="0" height="20" src="images/map/image_part_020.jpg"></img>
<img id="map21" width="0" height="20" src="images/map/image_part_021.jpg"></img>
<img id="map22" width="0" height="20" src="images/map/image_part_022.jpg"></img>
<img id="map23" width="0" height="20" src="images/map/image_part_023.jpg"></img>
<img id="map24" width="0" height="20" src="images/map/image_part_024.jpg"></img>
<img id="map25" width="0" height="20" src="images/map/image_part_025.jpg"></img>
<img id="map26" width="0" height="20" src="images/map/image_part_026.jpg"></img>
<img id="map27" width="0" height="20" src="images/map/image_part_027.jpg"></img>
<img id="map28" width="0" height="20" src="images/map/image_part_028.jpg"></img>
<img id="map29" width="0" height="20" src="images/map/image_part_029.jpg"></img>
<img id="map30" width="0" height="20" src="images/map/image_part_030.jpg"></img>
<img id="map31" width="0" height="20" src="images/map/image_part_031.jpg"></img>
<img id="map32" width="0" height="20" src="images/map/image_part_032.jpg"></img>
<img id="map33" width="0" height="20" src="images/map/image_part_033.jpg"></img>
<img id="map34" width="0" height="20" src="images/map/image_part_034.jpg"></img>
<img id="map35" width="0" height="20" src="images/map/image_part_035.jpg"></img>
<img id="map36" width="0" height="20" src="images/map/image_part_036.jpg"></img>
<img id="map37" width="0" height="20" src="images/map/image_part_037.jpg"></img>
<img id="map38" width="0" height="20" src="images/map/image_part_038.jpg"></img>
<img id="map39" width="0" height="20" src="images/map/image_part_039.jpg"></img>
<img id="map40" width="0" height="20" src="images/map/image_part_040.jpg"></img>
<img id="map41" width="0" height="20" src="images/map/image_part_041.jpg"></img>
<img id="map42" width="0" height="20" src="images/map/image_part_042.jpg"></img>
<img id="map43" width="0" height="20" src="images/map/image_part_043.jpg"></img>
<img id="map44" width="0" height="20" src="images/map/image_part_044.jpg"></img>
<img id="map45" width="0" height="20" src="images/map/image_part_045.jpg"></img>
<img id="map46" width="0" height="20" src="images/map/image_part_046.jpg"></img>
<img id="map47" width="0" height="20" src="images/map/image_part_047.jpg"></img>
<img id="map48" width="0" height="20" src="images/map/image_part_048.jpg"></img>
<img id="map49" width="0" height="20" src="images/map/image_part_049.jpg"></img>
<img id="map50" width="0" height="20" src="images/map/image_part_050.jpg"></img>
<img id="map51" width="0" height="20" src="images/map/image_part_051.jpg"></img>
<img id="map52" width="0" height="20" src="images/map/image_part_052.jpg"></img>
<img id="map53" width="0" height="20" src="images/map/image_part_053.jpg"></img>
<img id="map54" width="0" height="20" src="images/map/image_part_054.jpg"></img>
<img id="map55" width="0" height="20" src="images/map/image_part_055.jpg"></img>
<img id="map56" width="0" height="20" src="images/map/image_part_056.jpg"></img>
<img id="map57" width="0" height="20" src="images/map/image_part_057.jpg"></img>
<img id="map58" width="0" height="20" src="images/map/image_part_058.jpg"></img>
<img id="map59" width="0" height="20" src="images/map/image_part_059.jpg"></img>
<img id="map60" width="0" height="20" src="images/map/image_part_060.jpg"></img>
<img id="map61" width="0" height="20" src="images/map/image_part_061.jpg"></img>
<img id="map62" width="0" height="20" src="images/map/image_part_062.jpg"></img>
<img id="map63" width="0" height="20" src="images/map/image_part_063.jpg"></img>
<img id="map64" width="0" height="20" src="images/map/image_part_064.jpg"></img>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../static/game.js"></script>
<script src="../static/HUD.js"></script>
<script>
  var leaveButtonPressed = false;
  var playername='<%= name %>';
      socket.emit('teamconfig');
      socket.on("teamconfigReturn", function (teamconfig) {
        classname = teamconfig[playername];
        socket.emit('new player' , classname, playername);
    });
    socket.on("endOfGame", function () {
      leaveButtonPressed = true;
      location.assign('/highscore');
    });
    
    $(function () {
      var socket = io();
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', '<%= name %>: '+$('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    });

    function joinedLobby(){
      leaveButtonPressed = true;
      socket.emit('leaveGame');
      socket.emit('playerLobby', '<%= name %>', 'false');
      location.assign('/');
    }

    window.onbeforeunload = function(){
      if(leaveButtonPressed == false){
        return "stop!";
      }else{
        return;
      }  
    }
</script>