<link href="style.css" rel="stylesheet" type="text/css">
<body>
<div id="content">
  <div id="wrapper">
    <div id="gamestats">
      <div id="score"></div>
    </div>
    <div id="stats">
      <div id="playername"><%= name %></div>
      <div id="playerclass"></div>
      <div id="health-box">
        <div id="health-bar"></div>
      </div>
      <div id="ammo">
        <div id="weapon"></div>
      </div>
      <button id="leaveButton" type="button" onclick=joinedLobby()>Leave</button>
    </div>
    <div id="game">
    <canvas id="canvas"></canvas>
    <div id="police"></div>     
  </div>
  <div id="chat">
      <ul id="messages"></ul>
      <form action="" id="form">
        <input id="m" autocomplete="off" value=""placeholder="Chat here..."/>
      </form>
    </div>
  </div>
</div>
<img id="ammobox" width="0" height="20" src="images/Ammobox.jpg"></img>
<img id="healthbox" width="0" height="20" src="images/healthbox.jpg"></img>
<img id="reddead" width="0" height="20" src="images/Reddead.png"></img>
<img id="map1" width="0" height="20" src="images/map/image_part_001.jpg"></img>
<img id="map2" width="0" height="20" src="images/map/image_part_002.jpg"></img>
<img id="map3" width="0" height="20" src="images/map/image_part_003.jpg"></img>
<img id="map4" width="0" height="20" src="images/map/image_part_004.jpg"></img>
<img id="map5" width="0" height="20" src="images/map/image_part_005.jpg"></img>
<img id="map6" width="0" height="20" src="images/map/image_part_006.jpg"></img>
<img id="map7" width="0" height="20" src="images/map/image_part_007.jpg"></img>
<img id="map8" width="0" height="20" src="images/map/image_part_008.jpg"></img>
<img id="map9" width="0" height="20" src="images/map/image_part_009.jpg"></img>
<img id="map10" width="0" height="20" src="images/map/image_part_010.jpg"></img>
<img id="map11" width="0" height="20" src="images/map/image_part_011.jpg"></img>
<img id="map12" width="0" height="20" src="images/map/image_part_012.jpg"></img>
<img id="map13" width="0" height="20" src="images/map/image_part_013.jpg"></img>
<img id="map14" width="0" height="20" src="images/map/image_part_014.jpg"></img>
<img id="map15" width="0" height="20" src="images/map/image_part_015.jpg"></img>
<img id="map16" width="0" height="20" src="images/map/image_part_016.jpg"></img>
<img id="map17" width="0" height="20" src="images/map/image_part_017.jpg"></img>
<img id="map18" width="0" height="20" src="images/map/image_part_018.jpg"></img>
<img id="map19" width="0" height="20" src="images/map/image_part_019.jpg"></img>
<img id="map20" width="0" height="20" src="images/map/image_part_020.jpg"></img>
<img id="map21" width="0" height="20" src="images/map/image_part_021.jpg"></img>
<img id="map22" width="0" height="20" src="images/map/image_part_022.jpg"></img>
<img id="map23" width="0" height="20" src="images/map/image_part_023.jpg"></img>
<img id="map24" width="0" height="20" src="images/map/image_part_024.jpg"></img>
<img id="map25" width="0" height="20" src="images/map/image_part_025.jpg"></img>
<img id="map26" width="0" height="20" src="images/map/image_part_026.jpg"></img>
<img id="map27" width="0" height="20" src="images/map/image_part_027.jpg"></img>
<img id="map28" width="0" height="20" src="images/map/image_part_028.jpg"></img>
<img id="map29" width="0" height="20" src="images/map/image_part_029.jpg"></img>
<img id="map30" width="0" height="20" src="images/map/image_part_030.jpg"></img>
<img id="map31" width="0" height="20" src="images/map/image_part_031.jpg"></img>
<img id="map32" width="0" height="20" src="images/map/image_part_032.jpg"></img>
<img id="map33" width="0" height="20" src="images/map/image_part_033.jpg"></img>
<img id="map34" width="0" height="20" src="images/map/image_part_034.jpg"></img>
<img id="map35" width="0" height="20" src="images/map/image_part_035.jpg"></img>
<img id="map36" width="0" height="20" src="images/map/image_part_036.jpg"></img>
<img id="map37" width="0" height="20" src="images/map/image_part_037.jpg"></img>
<img id="map38" width="0" height="20" src="images/map/image_part_038.jpg"></img>
<img id="map39" width="0" height="20" src="images/map/image_part_039.jpg"></img>
<img id="map40" width="0" height="20" src="images/map/image_part_040.jpg"></img>
<img id="map41" width="0" height="20" src="images/map/image_part_041.jpg"></img>
<img id="map42" width="0" height="20" src="images/map/image_part_042.jpg"></img>
<img id="map43" width="0" height="20" src="images/map/image_part_043.jpg"></img>
<img id="map44" width="0" height="20" src="images/map/image_part_044.jpg"></img>
<img id="map45" width="0" height="20" src="images/map/image_part_045.jpg"></img>
<img id="map46" width="0" height="20" src="images/map/image_part_046.jpg"></img>
<img id="map47" width="0" height="20" src="images/map/image_part_047.jpg"></img>
<img id="map48" width="0" height="20" src="images/map/image_part_048.jpg"></img>
<img id="map49" width="0" height="20" src="images/map/image_part_049.jpg"></img>
<img id="map50" width="0" height="20" src="images/map/image_part_050.jpg"></img>
<img id="map51" width="0" height="20" src="images/map/image_part_051.jpg"></img>
<img id="map52" width="0" height="20" src="images/map/image_part_052.jpg"></img>
<img id="map53" width="0" height="20" src="images/map/image_part_053.jpg"></img>
<img id="map54" width="0" height="20" src="images/map/image_part_054.jpg"></img>
<img id="map55" width="0" height="20" src="images/map/image_part_055.jpg"></img>
<img id="map56" width="0" height="20" src="images/map/image_part_056.jpg"></img>
<img id="map57" width="0" height="20" src="images/map/image_part_057.jpg"></img>
<img id="map58" width="0" height="20" src="images/map/image_part_058.jpg"></img>
<img id="map59" width="0" height="20" src="images/map/image_part_059.jpg"></img>
<img id="map60" width="0" height="20" src="images/map/image_part_060.jpg"></img>
<img id="map61" width="0" height="20" src="images/map/image_part_061.jpg"></img>
<img id="map62" width="0" height="20" src="images/map/image_part_062.jpg"></img>
<img id="map63" width="0" height="20" src="images/map/image_part_063.jpg"></img>
<img id="map64" width="0" height="20" src="images/map/image_part_064.jpg"></img>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../static/game.js"></script>
<script src="../static/HUD.js"></script>
<script>
    var leaveButtonPressed = false;
  var playername='<%= name %>';
      socket.emit('teamconfig');
      socket.on("teamconfigReturn", function (teamconfig) {
        classname = teamconfig[playername];
        socket.emit('new player' , classname, playername);
    });
    socket.on("endOfGame", function () {

      leaveButtonPressed = true;
      location.assign('/matchhighscore');

    });
    
    $(function () {
      var socket = io();
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', '<%= name %>: '+$('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    });

    function joinedLobby(){
      leaveButtonPressed = true;
      socket.emit('leaveGame');
      socket.emit('playerLobby', '<%= name %>', 'false');
      location.assign('/');
    }

    window.onbeforeunload = function(){
      if(leaveButtonPressed == false){
        return "stop!";
      }else{
        return;
      }  
    }

  
  var sounds = {
  "Policeambience" : { url : "sounds/ambience.mp3"},
  "Policestartmatch" : { url : "sounds/startmatchswat.mp3"},
  "Rebelsstartmatch" : { url : "sounds/startmatchrebels.mp3"}, 
  "Lobbymusic" : { url : "sounds/lobbymusic.mp3"}, 
  "Join" : { url : "sounds/join.mp3"},
  "Endgame" : { url : "sounds/endgame.mp3"}
  };

var soundContext = new AudioContext();

for(var key in sounds) {
  loadSound(key);
}

function loadSound(name){
  var sound = sounds[name];
  var url = sound.url;
  var buffer = sound.buffer;
  var request = new XMLHttpRequest();
  request.open('GET', url, true);
  request.responseType = 'arraybuffer';
  request.onload = function() {
    soundContext.decodeAudioData(request.response, function(newBuffer) {
      sound.buffer = newBuffer;
    });
  }
  request.send();
}

var snd1  = new Audio();
var src1  = document.createElement("source");
src1.type = "audio/mpeg";
src1.src  = "sounds/gunshotswat.mp3";
snd1.appendChild(src1);

var snd2  = new Audio();
var src2  = document.createElement("source");
src2.type = "audio/mpeg";
src2.src  = "sounds/deatheffectrebels.mp3";
snd2.appendChild(src2);

var snd3  = new Audio();
var src3  = document.createElement("source");
src3.type = "audio/mpeg";
src3.src  = "sounds/ambience.mp3";
snd3.appendChild(src3);

//Zorgt voor loopende achtergrond muziek
snd3.addEventListener('timeupdate', function(){
  var buffer = .01
  if(this.currentTime > this.duration - buffer){
    this.currentTime = 0
    this.play()
  }
}, false);

var snd4  = new Audio();
var src4  = document.createElement("source");
src4.type = "audio/mpeg";
src4.src  = "sounds/join.mp3";
snd4.appendChild(src4);

var snd5  = new Audio();
var src5  = document.createElement("source");
src5.type = "audio/mpeg";
src5.src  = "sounds/deatheffectswat.mp3";
snd5.appendChild(src5);

var snd6  = new Audio();
var src6  = document.createElement("source");
src6.type = "audio/mpeg";
src6.src  = "sounds/startmatchswat.mp3";
snd6.appendChild(src6);

var snd7  = new Audio();
var src7  = document.createElement("source");
src7.type = "audio/mpeg";
src7.src  = "sounds/gunempty.mp3";
snd7.appendChild(src7);

var snd8  = new Audio();
var src8  = document.createElement("source");
src8.type = "audio/mpeg";
src8.src  = "sounds/ammopickup.mp3";
snd8.appendChild(src8);

var snd9  = new Audio();
var src9  = document.createElement("source");
src9.type = "audio/mpeg";
src9.src  = "sounds/healthpickup.mp3";
snd9.appendChild(src9);

var snd10  = new Audio();
var src10  = document.createElement("source");
src10.type = "audio/mpeg";
src10.src  = "sounds/bulletonwall.mp3";
snd10.appendChild(src10);

var snd11  = new Audio();
var src11  = document.createElement("source");
src11.type = "audio/mpeg";
src11.src  = "sounds/startmatchrebels.mp3";
snd11.appendChild(src11);

var snd12  = new Audio();
var src12  = document.createElement("source");
src12.type = "audio/mpeg";
src12.src  = "sounds/bulletonwall.mp3";
snd12.appendChild(src12);

var snd13  = new Audio();
var src13  = document.createElement("source");
src13.type = "audio/mpeg";
src13.src  = "sounds/enemyhitsound.mp3";
snd13.appendChild(src13);

var snd14  = new Audio();
var src14  = document.createElement("source");
src14.type = "audio/mpeg";
src14.src  = "sounds/hitbyenemy.mp3";
snd14.appendChild(src14);

var snd15  = new Audio();
var src15  = document.createElement("source");
src15.type = "audio/mpeg";
src15.src  = "sounds/bulletonwalldistant.mp3";
snd15.appendChild(src15);

var snd16  = new Audio();
var src16  = document.createElement("source");
src16.type = "audio/mpeg";
src16.src  = "sounds/endgame.mp3";
snd16.appendChild(src16);
console.log(clientPlayer)

snd3.play();


</script>

<audio id="multiaudio1" src="sounds/Gunshotswat.mp3" preload="auto"></audio>
<audio id="multiaudio2" src="sounds/Gunshotswat.mp3" preload="auto"></audio>
<audio id="multiaudio3" src="sounds/Gunshotswat.mp3" preload="auto"></audio>
<audio id="multiaudio4" src="sounds/Gunshotswat.mp3" preload="auto"></audio>
<audio id="multiaudio5" src="sounds/Gunshotswat.mp3" preload="auto"></audio>

<audio id="multiaudio6" src="sounds/Gunshotrebelsdistant.mp3" preload="auto"></audio>
<audio id="multiaudio7" src="sounds/Gunshotrebelsdistant.mp3" preload="auto"></audio>
<audio id="multiaudio8" src="sounds/Gunshotrebelsdistant.mp3" preload="auto"></audio>
<audio id="multiaudio9" src="sounds/Gunshotrebelsdistant.mp3" preload="auto"></audio>
<audio id="multiaudio10" src="sounds/Gunshotrebelsdistant.mp3" preload="auto"></audio>

<script type="text/javascript">
	var channel_max = 15;										// number of channels
	audiochannels = new Array();
	for (a=0;a<channel_max;a++) {									// prepare the channels
		audiochannels[a] = new Array();
		audiochannels[a]['channel'] = new Audio();						// create a new audio object
		audiochannels[a]['finished'] = -1;							// expected end time for this channel
	}
	function play_multi_sound(s) {
		for (a=0;a<audiochannels.length;a++) {
			thistime = new Date();
			if (audiochannels[a]['finished'] < thistime.getTime()) {			// is this channel finished?
				audiochannels[a]['finished'] = thistime.getTime() + document.getElementById(s).duration*1000;
				audiochannels[a]['channel'].src = document.getElementById(s).src;
				audiochannels[a]['channel'].load();
				audiochannels[a]['channel'].play();
				break;
			}
		}
  }
</script>