<link href="style.css" rel="stylesheet" type="text/css">
<body>
<div id="content">
<div id="wrapper">
<div id="game">
        <script src="/socket.io/socket.io.js"></script>
        <canvas id="canvas"></canvas>
        <script src="../static/game.js"></script>
</div>
<div id="chat">
    </head>
      <ul id="messages"></ul>
      <form action="" id="form">
        <input id="m" autocomplete="off" value=""/>
      </form>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script>
        var playername='<%= name %>';
          $(function () {
            var socket = io();
            $('form').submit(function(e){
              e.preventDefault(); // prevents page reloading
              socket.emit('chat message', '<%= name %>: '+$('#m').val());
              $('#m').val('');
              return false;
            });
            socket.on('chat message', function(msg){
              $('#messages').append($('<li>').text(msg));
            });
          });
        </script>
  </div>
</div>
</div>
</body>