<link href="style.css" rel="stylesheet" type="text/css">
<html>
<body>

<div id="login">
    <img src="images/Logo.svg" >
    <form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    
  
    <input type="submit" value="Submit">
    <a href="/register">Register</a>
  </form>

  </div>
</body>
</html>
