<link href="style.css" rel="stylesheet" type="text/css">
<script src="/socket.io/socket.io.js"></script>
<script src="sounds.js"type="text/javascript"></script>
<script>
  var socket = io();

</script>

<body>
    <div id="content">
      <div id="wrapper">
        <div id="game">
          <h1>Match highscore Ninbo</h1>
              <div id="matchhighscore">
                <script>
                //var playername='<%= name %>';
               // var highscoremuziek = new Audio('sounds/endgame.mp3');
                //highscoremuziek.play();
 
                // Haalt de matchhighscore op van de server en roept de functie aan om dit in een tabel op het scherm te tonen.
                socket.emit('getMatchHighscore');
                socket.on("getMatchHighscoreReturn", function (arrayMatchScore) {
                    var html = makeMatchHighscore(arrayMatchScore)
                    document.getElementById("matchhighscore").innerHTML = html;
                });    
               
                //Deze functie returned aan de hand van een array de teamnaam die gewonnnen heeft
                function getWinnerTeamname(arrayMatchScore){
                    for (var i in arrayMatchScore){
                        if(arrayMatchScore[i][2] == 1){
                            return arrayMatchScore[i][3]
                        }
                    }
                }    
                // Deze functie creëert aan de hand van een array een HTML tabel.    
                function makeMatchHighscore(arrayMatchScore){
                    var playername='<%= name %>';

                    var highscoremuziekswat = new Audio('sounds/highscoremuziekswat.mp3');
                    var highscoremuziekrebels = new Audio('sounds/highscoremuziekrebels.mp3');

                    var winningTeam =  getWinnerTeamname(arrayMatchScore)
                    var result = "<h3>" + winningTeam + " won the match!</h3>";
                    result += "<table border=1>";
                        if(winningTeam=='Swat'){
                            highscoremuziekswat.play();
                        }
                        else{
                            highscoremuziekrebels.play();
                        }
                    
                   result += "<tr><th>Rank</th><th>Username</th><th>Total Kills</th><th>Won</th><th>Team</th></tr>"
                   var count = 0;
                    for( var id = 0; id < arrayMatchScore.length; id++){
                        if( arrayMatchScore[id][0] == playername){
                      result += "<tr style='font-weight:bold'>";
                        }else{
                          result += "<tr>";  
                        }
                        count +=1
                        result += "<td>" + count +"</td>";
                        for(var b = 0; b < arrayMatchScore[id].length; b++){
                            if((arrayMatchScore[id][b]) == 1 && b == 2){
                                result += "<td>Winner!</td>";
                                }else if((arrayMatchScore[id][b]) == 0 && b == 2){
                                    result += "<td>Loser</td>";
                                }else{
                                    result += "<td>"+arrayMatchScore[id][b]+"</td>";
                                }
                        
                            
                        }          
                       result += "</tr>";   
                    }
                    result += "</table>";
                    return result; 
                    
                    }
                function loadLobby(){
                      location.assign('/');
                    }
                </script>
                  
                </div>
            <br>
            <button id="lobbyButton" type="button" onclick="loadLobby()">Return to lobby</button>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
