    #chat{float: left;
    height: 640px;
    width: 260px;
    background-color: white;
    }
    #chattitle{border-bottom: 1px solid black;
    }
    #game{ width: 640px;
    height: 640px;
    float: left;
    border-right: 1px solid black;
    background-color: white;
    }
    body { margin: 0px;
        background-image: url('background.gif');
        background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    }
    #form { background: #000; 
    width: 260px; 
    margin: 0px;
    }
    form input { background: #dddddd; 
    border: 0; 
    padding: 10px; 
    width: 260px;
    }
    #messages { list-style-type: none; 
        background-color: white;
    margin: 0; 
    padding: 0; 
    height:524px ; 
    overflow: auto;
    }
    #messages li { padding: 5px 10px; 
    text-align:left ;
    }
    #messages li:nth-child(odd) { background: #eee; 
    }
    #players {list-style-type: none; 
    margin: 0; 
    padding: 0; 
    }
    canvas {width: 640px;
    height: 640px;
    }
    #content {width: 100%; 
    text-align: center;
    }
    #wrapper {display: inline-block; 
    margin-top:10px; 
    border: 1px solid black;
    }